@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chilanka&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-boogaloo: 'Boogaloo', sans-serif;
	--font-chilanka: 'Chilanka', opensans;
}
